@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  margin: 0px auto;
  font-family: Arial, Helvetica, sans-serif;
}



* {box-sizing: border-box;}


main{
 width: 50%; margin: 50px auto; 
 
 display: grid; color: white;
 grid-template-rows: 60px 90px 90px 90px 90px 130px 90px 90px 90px;
 grid-template-columns: repeat(2, 1fr);
 grid-gap: 20px;
 background-color: white;
 
}
 .div1{ background-color: black;

 	grid-column: 1/-1;
 }
 .div2{ }
 
  
 .div3{}
 
 .div4{ 
 grid-column: 1/-1;}
  
 .div5{ 
 grid-column: 1/-1;}
 
 .div6{ 
 grid-column: 1/-1; }
  
 .div7{ 
 grid-column: 1/-1; }
  
 .div8{ 
 grid-column: 1/-1;}
  
 .div9{ 
 grid-column: 1/-1; }

 .div10{ 
 grid-column: 1/-1;}



input[type=text], select, textarea {
  float: center;
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  color: black;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #8B0000;
  color: white;
  padding: 13px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
}

input[type=submit]:hover {
  background-color: #B22222;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


div.stars {
  width: 450px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 30px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #ffff00;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #ffff00;
  text-shadow: 0 0 20px #952;
}




label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
 


.cong {
  
  display:inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;

}
.cong input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #A9A9A9;
  border-radius: 50%;
}
.cong:hover input ~ .checkmark {
  background-color: #ccc;
}
.cong input:checked ~ .checkmark {
  background-color: #008000;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.cong input:checked ~ .checkmark:after {
  display: inline-block;
}
.cong .checkmark:after {
 	top: 8px;
	left: 7px;
  width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
}





